.card {
  width: 22%;
  min-width: 200px;
  max-height: 300px;
  min-height: 300px;
  padding: 10px;
  margin: 1.2%;
  position: relative;
  background-color: rgba(210, 210, 210, .2);
  box-shadow: 3px 3px 8px rgba(15, 15, 15, 0.8);
  overflow-y: scroll;
}

.card-title {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title-text {
  color: #feda4a;
  margin: 0;
  text-align: center;
}

.card-info {
  color: rgb(175, 175, 175);
  border-bottom: 1px solid rgb(175, 175, 175);
  padding: 5px;
  text-transform: capitalize;
}

.card-info .subject {
  color: rgb(75, 213, 238);
}

.card-favorite-button {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 35px;
  width: 100%;
  background-color: rgb(86, 64, 164);
  border: solid .5px rgba(175, 175, 175, 0.3);
  margin: 0;
}

.card-favorite-button:hover {
  background-color: rgb(65, 41, 150);

}

.favorite .card-favorite-button {
  background-color: rgb(164, 64, 64);
}

.favorite .card-favorite-button:hover {
  background-color: rgb(139, 37, 37);
}
