nav {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  padding: 10px;
  margin-top: 5px;
}

.title-box,
.button-container {
  background-color: rgba(34, 34, 34, 1.0);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  min-width: 250px;
  padding: 0 10px;
}

.title {
  margin: 0;
  color: #feda4a;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgb(128, 110, 39);
}

.button-container {
  width: 75%;
  display: flex;
  justify-content: flex-end;
}

button {
  border: none;
  padding: 0;
  margin: 0 4%;
  height: 100%;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

nav button {
  font-size: 24px;
  border-bottom: 4px solid transparent;
}

nav .button-container button:hover {
  color: #FEDA4A;
  border-color: #FEDA4A;
  box-shadow: 0px 2px 0px rgba(254, 218, 74, 0.3);
}

button:focus {
  outline:0;
}

.people .people-button,
.planets .planets-button,
.favorites .favorites-button,
.vehicles .vehicles-button {
  box-shadow: 0px 2px 0px rgba(75, 213, 238, 0.3);
  border-color: rgb(75, 213, 238);
}


@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
  }

  .title-box,
  .button-container {
    width: 100%;
  }

  .button-container {
    justify-content: space-around;
  }
}
